.heading1 {
  text-align: center;
  color: rgb(197, 204, 5);
  padding-bottom: 10px;
}

.menulist {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.5rem;
}

@media screen and (min-width: 240px) {
  .menulist {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1.5rem;
  }
}
@media screen and (min-width: 1140px) {
  .menulist {
    display: grid;

    column-gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
